/* 11/08/23    Учу с Димычем его Новый курс "Переход на ООП"....
   т.к. я начал делать сам - Сразу через Об. и Ко.-р - у меня немного не вышло во Втором видео так, как у Димки
      Поэтому в отдельной папке я решил Всё Повторить За Ним 
      12/08/23    
      14/08/23 Lesson 3 
   18/08/23    ---- 
          долго /много дней/ НЕ занимался -  поэтому сейчас попробую повторить весь пройденный (который успел пройти) материал - по памяти*/
          /* 19/08/23      Дорабатываю СВОЮ машинку ПО-СВОЕМУ */



.car {
   margin: 20px;
   .info-panel {
      margin: 10px;
      font-size: 18px;
   }
       /* НЕ получается у меня НИкак сделать вложенность для Класса .hide */
   /* .button-car {
      .hide {
         display: none;
      }
   }  */
}

       /* НЕ получается у меня НИкак сделать вложенность для Класса .hide */
   /* .hide {
      display: none;
   } */
   
   /* Подгружается Класс .hide только Так..... - БЕЗ Вложенности */
   .hide {
      display: none;
   }


.car .info-panel {
   .bgc-span{
      background-color: yellowgreen;
   }
   .status-color-1{
      font-size: 20px;
      font-weight: bold;
      background-color: rgb(153, 51, 255);
   }
   .status-color-2 {
      font-size: 18px;
      font-weight: bold;
      background-color: red;
      border-radius: 5px;
   }
   .status-color-3 {
      font-size: 16px;
      font-weight: normal;
      background-color: yellow;
   }
  
}


.car .button-car {
   .button-color-1 {
      background-color: yellow;
   }
}
   